<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Reservations</h1>
    <form action="http://127.0.0.1:8000" method="get">
        <button type="submit">Home</button>
    </form>
    <form action="http://127.0.0.1:8000/orders" method="get">
        <button type="submit">Orders</button>
    </form>
    <form action="http://127.0.0.1:8000/menu" method="get">
        <button type="submit">Menu</button>
    </form>
</body>
</html>